################################################################################
## Edit and rename this to .env
################################################################################

## Server component versions
## =============================================================================
# PHP version. See https://hub.docker.com/_/php/tags
PHP_VERSION=5.6
# Database server type. One of mysql or mariadb
DB_SERVER_TYPE=mysql
# MySQL version. See https://hub.docker.com/_/mysql/tags
MYSQL_VERSION=5.5
# Apache version. See https://hub.docker.com/_/httpd/tags
APACHE_VERSION=2.4

## Docker setup
## =============================================================================
# Naming prefix for your Docker containers.
DOCKER_IMAGE_PREFIX=olden_
# Public HTTP port
EXTERNAL_HTTP_PORT=4280
# Public HTTPS port
EXTERNAL_HTTPS_PORT=4443
# Public MySQL port
EXTERNAL_MYSQL_PORT=4236
# Public MailHog web user interface port
EXTERNAL_MAILHOG_PORT=4225
# Location for your site's files. Do not change.
SITE_ROOT=./public_html
# Location for your MySQL files. Do not change.
MYSQL_ROOT=./mysql/data/

## Your local timezone.
## =============================================================================
# See https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TZ=Asia/Nicosia

## Database setup
## =============================================================================
# Note: you can generate new, random, secure passwords using Random.org at
# https://www.random.org/passwords/?num=1&len=24&format=html&rnd=new
# ------------------------------------------------------------------------------
# Database name for your site
DB_NAME=mysite
# Datbase username for your site
DB_USERNAME=mysite
# Database password for your site
DB_PASSWORD=2aZzXMhJMGayLYBq6rjJcB9k
# Password for the root user
DB_ROOT_PASSWORD=MBC7ktXWaq8KNVVP3K36SALa